*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jersey 10", sans-serif;
}

body{
     height: 100vh;
}

.cantainer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#change{
     position: relative;
    outline: none;
    background: none;
    width: 150px;
    height: 40px;
    outline: none;
    border: none;
}


.top{
    font-size: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 145, 255);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    border-radius: 10px;
    
}

.bottom{
    background-color: rgb(121, 206, 255);
    width: 100%;
    height: 100%;
    position: absolute ;
    top: 10px;
    z-index: -1;
    border-radius: 10px;
   box-shadow: 0 4px rgba(23, 26, 80, 0.3);
}

.bottom::after{
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: rgb(34, 140, 232);
    bottom: 0.6px;
    right: 6px;
    content: "";
    border-radius: 10px;
    
}

.bottom::before{
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: rgb(34, 140, 232);
    bottom: 0.6px;
    left: 6px;
    content: "";
    border-radius: 10px;
}




